#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bg{
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}
.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 2.2rem;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1rem;
    font-weight: 300;
}
.introName{
    color: #37FF8B;
}
.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}
.btn{
    font-size: 1.5rem;
    max-width: 10rem;
    width: 7.5rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    letter-spacing: 1.5px;
}
.btn:hover{
    background: #37FF8B;
    color: white;
    border: 3px solid white;
}


@media screen and (max-width: 840px){
    .bg{
        right: -10vw;
    }
    .introContent{
        font-size: 6vw;
    }
    .hello{
        font-size: 3vw;
    }
}

@media screen and (max-width: 480px){
    .bg{
        right: -20vw;
    }
}